@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

:root {
    --main-color: #D9D8D6;
    --text-color: #1d1d1b;
    --highlight-color: #2727e6;
} 


body.dark-mode{
    --main-color: #1d1d1b;
    --text-color: #d9d8d6;
    --highlight-color: #2727e6;
}



body{
    font-family: Helvetica;
    font-size: 16px;
    background-color: var(--main-color);
    line-height: 1.5;
}


/*NAVIGATION*/
.wrap-nav{
    display: flex;
    flex-direction: column;
    width: 30%;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    
}

a{
    text-decoration: none;
    color: var(--text-color);
} 

a.dark-mode-toggle {
    position: fixed;
    bottom: 32px;
    left: 32px;
    display: flex;
    align-items: center;
}

.menu-toggle {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--text-color);
    padding: 16px;
    z-index: 2;
    background-color: var(--main-color);
}

.logo{
    color: var(--text-color);
}

.menu-dropdown-overflow {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.menu-dropdown {
    border-bottom: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
    padding: 16px;

    opacity: 1;
    transform: translate(0, -200px);
    transition: all 0.5s;
    transition-timing-function: ease-out;
    background-color: var(--main-color);
}

.menu-dropdown:hover {
   background-color:red;
}

.plus svg {
    fill: var(--text-color);
}

.hide {
    opacity: 1;
    transform: translate(0, 0px);
}


.plus{
 z-index: 1;
 pointer-events: auto;
 transition: all 0.5s;
 transition-timing-function: ease-out;
 cursor: pointer;
}


 .rotate {
    transform: rotate(225deg);
    transform-origin: center;  
} 

/*END OF NAVIGATION*/

section.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section.hero img {
    /* max-height: 90vh; */
}



/*LIGHTBOX*/

 div.lightbox { 
    display: none;
} 

div.lightbox-background { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; background-color: #000000; opacity: 0.8;
    }
    
div.lightbox-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 32px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); background-color: white;
    min-width: 80vw;
    }

.information {
    display: flex;
    flex-direction: column;
}

.information div.information-item {
    padding-top: 16px;
}

.half-width {
    width: 50%;
}

.measure-narrow {
    max-width: 25em;
  } 

  span.span-contact{
    display:inline-block;
    border-bottom:1px solid black;
    padding-bottom:2px;
}

h1 {
    font-size: 32px;
}

.modal-close {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    padding: 25px;
    cursor: pointer;
}

/*END OF LIGHTBOX*/





/*ABOUT*/

div.phrase {

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    max-width: 25em;
    font-size: 24px;
}

input.about {
    position: absolute;
    bottom: 50px;
    left: 40%;
    width: 20%;
}

.rooster {
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}


/*INTRO ANIMATION*/

@keyframes intro-box {
    0% {
        background-color: #ffffff;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes grow-box {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    40% {
        width: 360px;
        height: 200px;
    }

    70% {
        color: var(--text-color);
        font-size: 80px;
    }

    100% {
        width: 100%;
        height: 100%;
        border-color: transparent;
        color: transparent;
    }
}

div.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    pointer-events: none;
    animation: intro-box 1s 4s both;
}

div.intro div.box {
    width: 360px;
    height: 200px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    animation: grow-box 3s 2s both;
}

div.intro div.column-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}